<h2>Here's <%= cryptid.name %></h2>
<h4><%= cryptid.name %> is a great cryptid</h4>
<div class="tooltip">
    <img src="<%= cryptid.img_url %>">
    <span class="tooltiptext"><%= cryptid.name %></span>
</div>
<a href="/cryptids/edit/<%= cryptid.id %>">Edit <%= cryptid.name %></a>